<!doctype html>
<html>
  <head><meta charset=utf-8>
    <title></title>
  </head>
<body>
  <table id="producttable">
    <thead>
      <tr>
        <td>time</td>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <!-- existing data could optionally be included here -->
    </tbody>
    <button type="button">create</button>
  </table>
  
  <template id="productrow">
    <tr>
      <td class="record"></td>
      <td></td>
    </tr>
  </template>
</body>
  <script src="script.js"></script></head>
</html>